<!DOCTYPE html>
<html>
    <head>
        <title>Wallets</title>
    </head>
    <body>
        <h2>Wallets</h2>
        <form method="GET" action="/wallets/new">
            <input type="submit" id="create_wallet" value="Create Wallet">
        </form>
        <% @user.wallets.each do |wallet| %>
            <a href="/wallets/<%= wallet.id %>"><h3><%= wallet.name %></h3></a>
            <h4><%= wallet.restriction_type %></h4>
            <h4><%= wallet.btc_balance %></h4>
            <h4><%= wallet.usd_balance %></h4>
        <% end %>
    </body>
</html>