<title>Wallets</title>
<div class="horizontal-center">
    <h1>Wallets</h1>
    <br>
    <form method="GET" action="/wallets/new">
        <input class="button" type="submit" id="create_wallet" value="Create Wallet">
    </form>
    <br>
    <% @user.wallets.each do |wallet| %>
        <a href="/wallets/<%= wallet.id %>/trade"><h2>[ <%= wallet.name %> ]</h2></a>
        <h3><%= wallet.restriction_type.capitalize %></h3>
        <h3>BTC <%= wallet.btc_balance %></h3>
        <h3>USD <%= wallet.usd_balance %></h3>
        <br>
        <br>
    <% end %>
</div>