<title>Transactions</title>
<div class="horizontal-center">
    <h1>Transactions</h1>
    <br>
    <% @transactions.reverse.each do |transaction| %>
        <a href="/transactions/<%= transaction.id %>"><h4>[<%= transaction.created_at %>] <%= transaction.order_type %> ₿<%= transaction.amount %> at $<%= transaction.price %></h4></a>
        <br>
    <% end %>
</div>