<title>Transaction <%= @transaction.created_at %></title>
<div class="horizontal-center">
    <h1>Transaction</h1>
    <br>
    <h3>Time: <%= @transaction.created_at %></h3>
    <br>
    <h3>Order Type: <%= @transaction.order_type.capitalize %> </h3>
    <br>
    <h3>Amount: BTC <%= @transaction.amount %></h3>
    <br>
    <h3>Price: USD <%= @transaction.price %></h3>
</div>